* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: url("images/default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 2px 2px 1px black;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.4fr auto;
  grid-template-rows: 80px 100px auto 80px;
  grid-template-areas:
    "header header"
    "searcharea searcharea"
    "weekly current"
    "footer footer";
}

header {
  grid-area: header;
  width: 100%;
  height: 80px;
  padding: 2rem 1rem;
}

#clockDisplay {
  font-size: 20px;
  padding-right: 20px;
}

#searcharea {
  grid-area: searcharea;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searcharea input {
  width: 200px;
  padding: 5px;
  margin-right: 0.8rem;
}

.btn {
  background-color: white;
  cursor: pointer;
  padding: 5px;
  width: 80px;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: rgb(202, 202, 214);
  color: white;
}

.weekly {
  grid-area: weekly;
  padding: 1rem;
}

.weekly li {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.weekly li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weekly h1,
.weekly h3 {
  font-size: 1rem;
}

.weekly h2 {
  font-size: 2rem;
}

.weekly img {
  width: 50px;
}

.container {
  grid-area: current;
  justify-self: flex-start;
  align-self: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 50px;
  margin-left: 7rem;
  width: 400px;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.5);
}

#info {
  display: flexbox;
  flex-wrap: wrap;
}

.search,
.btn {
  box-shadow: 2px 2px 1px black;
  border-radius: 5px;
  border-style: none;
  font-size: 15px;
}

.container h1 {
  font-size: 40px;
  margin-top: 0px;
}

#temperature {
  font-size: 40px;
}

#weatherinfo {
  font-size: 25px;
  vertical-align: 50%;
}

#weatherbox div {
  display: inline-block;
  padding-right: 15px;
}

.name {
  text-decoration: none;
  color: #fff;
}

#humidity {
  margin-top: 10px;
}

#footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  text-align: center;
}

/*responsive*/

@media screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  main {
    /* grid-template-columns: 0.4fr auto; */
    grid-template-rows: 80px 100px auto auto 80px;
    grid-template-areas:
      "header header"
      "searcharea searcharea"
      "current current"
      "weekly weekly"
      "footer footer";
  }

  .container {
    justify-self: center;
    margin: 0;
  }

  .weekly {
    margin-top: 1rem;
    overflow-x: hidden;
  }
}
